{% extends ".html" %}

{% block content %} 
<section>
        <p>Your vision starts to fade, and your sense of balance fades with it. You feel yourself  fall backward, however this feeling of free falling persists for what seems like hours. Sounds of ethereal screams, ghostly beckoning calls, and low droning hum surround you with no discernible origin. </p>
        <p>All of a sudden your knees abruptly meet a rough solid ground the otherworldly sound disappear but your vision does not return. A cold wet something caresses your left ear and you stumble away from it frightened. As you begin to stand your head us tugged backward and your vision returns. The light is blinding but you see a dark amorphous shape at your feet, you can feel your heart beat through your neck.</p>
        <p>Finally everything comes into focus and a sense of relief comes over you, as you realize the dark shape was a happy pair of chocolate labrador pups. your party increases by two.</p>
        <p>As you scan your surroundings you see a group of naked mole rats singing in a southern gospel choir singing joyful hymns and a cache of crystal gems. The gems call to you with a ominous aura, however the choir is unfamiliar and gives you a strange vibe. Which do you choose to investigate?</p>
        <p>Will you inspect the gems, or walk toward the choir?</p>
        
        <p class="link"><a href="gem">inspect the gems.</a></p>
        <p class="link"><a href="choir">walk toward the choir.</a></p>
       
</section>
{% endblock %}
