{% extends "base.html" %}

{% block content %} 
<section>
    <h2>The Choir</h2>
        <p>As you approach the heavenly singing, you see that the vocalists are not actually naked mole rats at all. Their skin hangs loosely in excess moving with the wind, their eyes are but vertical slits, bodies nude entirely hairless. They look ancient, free from shame, with indistinguishable genders. They stand in the ruins of an amphitheater, painted walls with crawling vines of ivy and moss that mark the eons that have passed.</p>
        <p>The singing stops jarringly, you have spent so much time admiring the performance that you have not payed attention to the other surroundings. The audience as well as the singers stare at you. A compelling force drives you to move toward the stage.</p>
        <p>You find yourself standing before large crater filled with human bones. A bass speaks with the sound of a rolling thunder, ’The fates have given us another sacrifice, it is time to feast siblings.’ Creatures tear you apart while you stand helpless and succumb to this brutal end.</p>
       
</section>
{% endblock %}
