{% extends "blinded.html" %}

{% block content %} 
<section>
        <p>You walk toward the gems, one in particular catches your eye. It is an exquisite iridescent stone primarily black with flecks of electric blues, fiery reds, and fuchsia. You hastily grab the stone and instantly your vitality is instantly restored. </p>
        <p>Your sense of hearing is heightened and you hear what sounds like a string being pulled coming from behind you. You feel a gaze burning a hole on the back of your head. </p>
        <p>An overwhelming feeling of dread showers over you.</p>
        <p>You must make a split second decision, do you choose to turn to face the sound or tuck your head between your knees?</p>
        
        <p class="link"><a href="turn">turn and face the sound.</a></p>
        <p class="link"><a href="duck_run">duck and run.</a></p>
       
</section>
{% endblock %}
