<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<header>
    <h1>Welcome to your journey!</h1>
</header>
<section>
    <h1>What is your name?</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
        <p><input type="text" name="name" value="{{request.form.username}}"></p>
        <p><input type="submit" value="Continue">
        </form>
    {% if error %}
    <p><strong>Error:</strong>{{ error }}</p>
    {% endif %}
</section>
{% endblock %}


    