{% extends "base.html" %}

{% block content %} 
<section>
    <h2>The Sound</h2>
        <p>Just as soon as you turn your head you are blown back by a force that blinds you. Trying to breathe, you notice a sweet taste in your mouth. You reach for your face and realize you were struck with a pie. The feeling of dread is now replaced with embarrassment as children stand near you laughing.</p>
        <p>Though your face is coated in custard and cream, you feel glad that your decision was not made impulsively.</p>
        <p>One of the older children extends you her hand and offers to bring you to her village, where you can find a warm meal and shelter. Her smile is warm but you are wary, as they just made of fool of you. </p>
        <p>Do you accept the offer or find your own way?</p>
        
        <p class="link"><a href="offer">accept the offer.</a></p>
        <p class="link"><a href="own_way">find your own way.</a></p>
       
</section>
{% endblock %}
